.learningJQ-grid {
    width: auto;
}
.learningJQ-cell {
	background-color: black; 
	color:#FFFFFF; 
	border:solid 1px orange;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:16px;
    font-weight:bold;
    margin:-0.5px;
}

.learningJQ-cell.startingCircle > .colorCircle {
    margin-left: 3px;
    margin-top: -1px;
    width: 42px;
    height: 47px;
    position: absolute;
}

.learningJQ-cell.startingCircle.cellColor1 > .colorCircle {
    content:url("../images/Depart/OrangeDepart.png");
}

.learningJQ-cell.startingCircle.cellColor2 > .colorCircle {
    content:url("../images/Depart/BleuDepart.png");   
}

.learningJQ-cell.startingCircle.cellColor3 > .colorCircle {
    content:url("../images/Depart/Haut/RougeDepart.png");
}

.learningJQ-cell.startingCircle.cellColor4 > .colorCircle {
    content:url("../images/Depart/JauneDepart.png");
}

.learningJQ-cell.startingCircle.cellColor5 > .colorCircle {
    content:url("../images/Depart/VertDepart.png");
}

.learningJQ-cell > .colorCircle {
    margin-left: 11px;
    margin-top: -1px;
    width: 26px;
    height: 50px;
    position: absolute;
}

.learningJQ-cell.cellColor3 > .colorCircle {
    content:url("../images/Vertical/RougeVertical.png");
}

.valueCurrentlySelected {
    background-color: rgba(246, 255, 255, 0.3);
}
