.learningJQ-grid {
    width: auto;
}
.learningJQ-cell {
	background-color: black; 
	color:#FFFFFF; 
	border:solid 1px orange;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:16px;
    font-weight:bold;
    margin:-0.5px;
}

.learningJQ-cell.startingCircle > .colorCircle {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin: auto;
    margin-top: 6.5px;
}

.learningJQ-cell > .colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 14.5px;
}

.learningJQ-cell.cellColor1 > .colorCircle {
    background-color: orange;
}

.learningJQ-cell.cellColor2 > .colorCircle {
    background-color: blue;
}

.learningJQ-cell.cellColor3 > .colorCircle {
    background-color: red;
}

.learningJQ-cell.cellColor4 > .colorCircle {
    background-color: yellow;
}

.learningJQ-cell.cellColor5 > .colorCircle {
    background-color: green;    
}

.learningJQ-grid > .learningJQ-cell {
    width:38px;
    height:38px;
}

.valueCurrentlySelected {
    background-color: rgba(246, 255, 255, 0.3);
}
